h1 {
  text-align: center;
  font-family: sans-serif;
}
#chapters {
  text-align: left;
  float: left;
  overflow: hidden;
}
#characters {
  text-align: center;
  float: left;
  overflow: hidden;
}
#author {
  text-align: right;
  float: left;
  overflow: hidden;
}
#contact {
  float: right;

}

p {
  color: black;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}

img {
  float: left;
}
